## Final Project Submission

Please fill out:
* Student name: William Newton
* Student pace: Full Time Data Science
* Scheduled project review date/time: 
* Instructor name: Amber Yandow
* Blog post URL:

# Import Libraries and Packages #

In [90]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly
import folium

# Import Data #

* Import Data using Pandas and set Max View Columns to all

In [53]:
df=pd.read_csv('kc_house_data.csv')
pd.set_option('max_columns', None)

# Data Cleaning #

* Set Date, Yr_built, yr_renovated column to DateTime format
* Set Condition, Floors data type to int
* Replaced NaN values in Waterfront and Yr_renovated column to 0
* Created new column for Renovated Yes/No

In [57]:
df['date']=pd.to_datetime(df['date'],format='%m/%d/%Y')
df['yr_built']=df['yr_built'].astype(int)
df.condition=df.condition.astype(int)
df.floors=df.floors.astype(int)
df.waterfront.fillna(0,inplace=True)
df['Renovated'] = [True if x > 0 else False for x in df['yr_renovated']]
df.yr_renovated=df.yr_renovated.fillna(0).astype(int)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 22 columns):
id               21597 non-null int64
date             21597 non-null datetime64[ns]
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null int64
waterfront       21597 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     21597 non-null int64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
Renovated        21597 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(6), int64(13), object(1)
memory usage: 3.5+ MB

In [58]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Renovated
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1,0.0,0.0,3,7,1180,0.0,1955,0,98178,47.5112,-122.257,1340,5650,False
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2,0.0,0.0,3,7,2170,400.0,1951,1991,98125,47.7210,-122.319,1690,7639,True
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1,0.0,0.0,3,6,770,0.0,1933,0,98028,47.7379,-122.233,2720,8062,False
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1,0.0,0.0,5,7,1050,910.0,1965,0,98136,47.5208,-122.393,1360,5000,False
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1,0.0,0.0,3,8,1680,0.0,1987,0,98074,47.6168,-122.045,1800,7503,False